BODY
{
}
.top_left
{
	text-align:right;
	background-image:url("../images/TopLeft.png");
	background-position:bottom right;
	background-repeat:no-repeat;
	margin-left:0px;
	height:13px;
}
.top_row {
    text-align: center;
    background-image: url("../images/Top.png");
    background-position: bottom center;
    background-repeat: repeat-x;
    height:13px;
}
.top_right {
    text-align: left;
    background-image: url("../images/TopRight.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    height: 13px;
    
}
.center_row {
    text-align: center;
    background-image: url("../images/Center.png");
    height: 29px;
    top: 13px;
}
.bottom_left {
    text-align: right;
    background-image: url("../images/BottomLeft.png");
    background-position: top right;
    background-repeat: no-repeat;
    margin-left: 0px;
    top: 42px;
}
.bottom_row {
    text-align: center;
    background-image: url("../images/Bottom.png");
    background-position: topcenter;
    background-repeat: repeat-x;
    top: 42px;
}
.bottom_right {
    text-align: left;
    background-image: url("../images/BottomRight.png");
    background-position: top left;
    background-repeat: no-repeat;
    top:42px;
}
.Left {
    background-image: url("../images/Left.png");
    background-position: right;
    background-repeat: repeat-y;
    height: 29px;
    top: 13px;
}
.Right {
    background-image: url("../images/Right.png");
    background-repeat: repeat-y;
    height: 29px;
    top: 13px;
}
.clsMenuItem {
    height: 55px;
}
/*.top_left
{
	text-align:right;
	background-image:url("../images/TopLeft.png");
	background-position:bottom right;
	background-repeat:no-repeat;
	margin-left:0px;
	
}
.top_row {
    text-align: center;
    background-image: url("../images/Top.png");
    background-position: bottom center;
    background-repeat: repeat-x;
}
.top_right {
    text-align: left;
    background-image: url("../images/TopRight.png");
    background-position: bottom left;
    background-repeat: no-repeat;
}
.bottom_left {
    text-align: right;
    background-image: url("../images/BottomLeft.png");
    background-position: top right;
    background-repeat: no-repeat;
    margin-left: 0px;
    position: absolute;
    top:42px;
}
.SmallBottomRow {
    text-align: center;
    background-image: url("../images/Bottom.png");
    background-position: topcenter;
    background-repeat: repeat-x;
}
.SmallBottomRight {
    text-align: left;
    background-image: url("../images/BottomRight.png");
    background-position: top left;
    background-repeat: no-repeat;
}
.SmallLeft {
    background-image: url("../images/Left.png");
    background-position: right;
    background-repeat: repeat-y;
}
.SmallRight {
    background-image: url("../images/Right.png");
    background-repeat: repeat-y;
}
*/